<!DOCTYPE html>
<html>
  <head>
    <title>Meet Queue</title>
    <link rel="stylesheet" type="text/css" href="./output.css">
    <script src="../../socket.io/socket.io.js"></script>
  </head>
  <body>
    <h1>Next up:</h1>
    <ul id="queue"></ul>
    <button id="enqueue" onclick="socket.emit('enqueue')">Raise hand</button>
    <script>
      const socket = io.connect('http://localhost:8080')
      const username = prompt('Who r u')
      socket.emit('username', username)

      socket.on('received_reservations', function(reservations) {
        reservations.forEach(r => {
          createListItem(r.username)
        })
      })

      socket.on('enqueue', function(username) {
        createListItem(username)
      })

      window.addEventListener('DOMContentLoaded', () => {
        socket.emit('loaded')
      })

      const createListItem = (value) => {
        li = document.createElement('li')
        li.innerHTML = value
        document.getElementById('queue').append(li)
      }
    </script>
  </body>
</html>
