<!DOCTYPE html>
<html>
  <head>
    <title>Meet Queue</title>
    <link rel="stylesheet" type="text/css" href="./output.css">
    <!-- <script src="/socket.io/socket.io.js"></script> -->
    <!-- <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase&#45;app.js"></script> -->
    <!-- <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase&#45;auth.js"></script> -->
    <script src="../queue.js"></script>

  </head>
  <body>
    <h1 class="text-red-900">Next up:</h1>
    <ul id="queue"></ul>
    <button id="enqueue">Raise hand</button>
  </body>
</html>
